  <div class="card h-100 shadow-sm">
        <img src="{{e.imageUrl}}" [alt]="e.title" [title]="e.title"
             class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">

        <div class="card-body">
          <h5 class="card-title">{{ e.title }}</h5>
          <p class="text-muted">{{ e.location }} • {{ e.date | date}}</p>
          <p>{{ e.description }}</p>
          <p class="fw-bold">{{ e.price }}</p>
          <p>Places disponibles : {{ e.nbPlaces }}</p>

          <!-- Bouton Like -->
          <div *ngIf="showButtons">
          <button class="btn btn-success"> 
            like
          </button>
          <p>{{ e.nbrLike }}</p>
          </div>
          <span class="ms-2">{{ e.nbrLike }}</span>
          <a  [routerLink]="['./detail',e.id]">Detail</a>
        </div>
      </div>
