<div>
  <h3 class="text-center mb-4">Login</h3>

  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <!-- Email -->
    <div class="mb-3">
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="Enter email"
      />
      <small class="text-danger"
        *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
        Valid email is required
      </small>
    </div>

    <!-- Password -->
    <div class="mb-3">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Enter password"
      />
      <small class="text-danger"
        *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        Password is required
      </small>
    </div>

    <!-- Error -->
    <div *ngIf="errorMsg" class="alert alert-danger">
      {{ errorMsg }}
    </div>

    <!-- Button -->
    <button class="btn btn-primary w-100" type="submit">
      Login
    </button>

  </form>
</div>

