<h2>Ajouter un produit</h2>

<form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">

  <label>Nom :</label>
  <input class="form-control" type="text" formControlName="name" placeholder="nom" />
  <div *ngIf="addProductForm.get('name')?.touched && addProductForm.get('name')?.invalid">
    ⚠️ Le nom est obligatoire
  </div>

  <label>Prix :</label>
  <input class="form-control" type="number" formControlName="price" placeholder="prix" />

  <label>Description :</label>
  <textarea  class="form-control" formControlName="description" placeholder="description"></textarea>

  <label>Quantité :</label>
  <input  class="form-control" type="number" formControlName="quantity" placeholder="quantité" />

  <label>Image (URL) :</label>
  <input class="form-control" type="text" formControlName="image" placeholder="image" />

  <button class="btn btn-primary"  type="submit">Ajouter</button>
</form>
